__pycache__/
*.pyc
.pytest_cache/
.ipynb_checkpoints/
.venv/
venv/
.env
*.duckdb
*.db
*.sqlite
data/raw/*
data/processed/*
data/warehouse/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/warehouse/.gitkeep
outputs/
dbt/target/
dbt/dbt_packages/
dbt/.user.yml
target/
logs/
.streamlit/secrets.toml
